.calc-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper{
  display: flex;
  flex-direction: column;
  width: 240px;
  margin: auto;
}

.num-list {
  height: 55px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  background-color: #232D36;
  color: white;
  text-align:right;
  padding: 6px 10px 4px 10px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.num {
  background-color: #232D36;
  color: white;
  text-align: right;
  padding:0 10px 12px 10px;
  font-size: 1.3rem;
}

table{
  font-size: 0.75rem;
  margin-top: 2px;
  padding: 4px 0 4px 0;
  color: white;
  background-color: #25313D;
  border-spacing: 10px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

table tr{
  margin-bottom: 16px;
}

table td{
  width: 30px;
  height: 30px;
  padding: 8px;
  text-align: center;
  border-radius: 100%;
  background-color: #505050;
  cursor: pointer;  
}

.operand{
  background-color: #FF9500;
}

.del-btn{
  border-radius: 22px;
}

.result{
  border-radius: 22px;
}
