.main-dashboard {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-container {
  display: flex;
  column-gap: 6px;
}

.link {
  padding: 10px;
  border: 1px solid black;
  font-size: 1.3rem;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
  color: white;
  background-color: black;
}
